@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/solid.scss";
@import "./fontawesome/brands.scss";

// Set your brand colors
$accent: #C51162;
$primary-light: #88B6F2;
$primary: #1B78F2;
$primary-dark: #034AA6;

$grey-lighter: #F0F0F0;
// Update Bulma's global variables
$family-sans-serif: "Lato",
sans-serif;
// $grey-dark: $grey-dark;
// $grey-light: $grey-light;
// $primary: $primary;
$link: $accent;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $grey-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/grid/tiles.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/card.sass";

.main-wrapper {
    max-width: 1024px;
    padding: 32px 0px 32px 0px;
}

.store-image {
    max-width: 50%;
}

// .column {
//     //height: 100vh;
// }

.centered {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
}

body {
    background: white;
}

.title {
    color: #e0eeff;
}

.subtitle {
    color: #e0eeff;
}

p {
    color: #e0eeff;
}

.content b {
    border-bottom: 5px solid $accent;
    display: inline-block;
    line-height: 0.9;
}

.content ul {
    color: #e0eeff;
    margin-left: 2em;
    margin-top: 1em;
    display: list-item;
    list-style: disc outside;
}

.navbar {
    background: white;
}

.links {
    padding: 32px 0px 0px 0px;
}

.twitter {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-twitter);
    }
}

.github {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-github);
    }
}

.facebook {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-facebook);
    }
}

.social {
    display: flex;
}

.testimonial {
    background: $primary;
    margin-top: -10px;
    margin-bottom: -1px;
}

.first {
    background: $primary-dark;
}